html {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 1.8px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(255, 150, 80, 0.756);
    
}
.logo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;   
    width: 200px;
}
.page-title {
    flex-grow: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    
}
.header-links {
    display: flex;
    flex-grow: 1;
    width: 200px;    
}
.link {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#logo {
    width: 98px;
    height: 36px;
}
#donut {
    width: 90px;
    height: 90px;
    border: 2px double black;
    padding: 1px;
}
#computer-gif, #coffee-cup, #ghost {
    display: flex;
    width: 128px;
    height: 128px;
}
#croc-walk, #slime, #flowers, #foods {
    width: 176px;
    height: 176px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.intro {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coding, .coffee, .gaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 325px;
    text-align: center;
    border: 2px double black;
    padding: 16px;
}
.pixel-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px double black;
    padding: 16px;
    background-color: rgba(113, 125, 138, 0.375);
    width: 100%;
    
}
.pics-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;   
}
.info {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 16px;
    margin: 10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px double black;
}
footer {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 150, 80, 0.642);
    
}
